apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
  namespace: movie
spec:
  template:
    spec:
      containers:
        - name: frontend-service
          image: 543816070942.dkr.ecr.us-east-1.amazonaws.com/bookmyseat-frontend-s:5
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 20
      volumes:
        - name: nginx-config
          configMap:
            name: frontend-nginx-config
