# ========================
# Frontend Service (Angular / NGINX)
# ========================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
  namespace: movie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-service
  template:
    metadata:
      labels:
        app: frontend-service
    spec:
      containers:
        - name: frontend-service
          image: 543816070942.dkr.ecr.us-east-1.amazonaws.com/bookmyseat-frontend-s:9
          ports:
            - containerPort: 80
          env:
            - name: MOVIE_SERVICE_URL
              value: http://movie-service:8081/api/v1
            - name: REVIEW_SERVICE_URL
              value: http://review-service:8082/api/v1
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: movie
spec:
  selector:
    app: frontend-service
  ports:
    - port: 80
      targetPort: 80
  type: LoadBalancer
